# ===== SETIN (P5) =====
# Identifiants pour le backoffice client Setin (https://setin.fr)
User_P5=vivien@tubconcept.fr
Password_P5=6ZDvMvZ#tXfG#D7

# ===== AUTRES FOURNISSEURS =====
# Legallais P1
User_P1=
Password_P1=

# Prolians P3
User_P3=
Password_P3=

# ===== OPTIONS DE SCRAPING =====
DAYS_TO_SCRAPE=7
DEBUG=false