# ===== SETIN (P5) =====
User_P5=
Password_P5=

# ===== AUTRES FOURNISSEURS =====
# Legallais P1
User_P1=
Password_P1=

# Prolians P3
User_P3=
Password_P3=

# ===== OPTIONS DE SCRAPING =====
DAYS_TO_SCRAPE=7
DEBUG=false
